<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Info">
        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Name</div>
            <div class="mat-header-cell">Namespace</div>
          </div>
          <div class="mat-row" *ngFor="let deployment of deployments">
            <div class="mat-cell">{{ deployment['metadata'].name }}</div>
            <div class="mat-cell">{{ deployment['metadata'].namespace }}</div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Raw">
        <ng-template mat-tab-label>
          <ku-kubit-icon iconic="code"></ku-kubit-icon>
        </ng-template>
        <pre [ngStyle]="{'max-width.%': 100, 'overflow-x': 'auto'}"><code *ngFor="let line of rawDeployments"> {{ line }}
</code></pre>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>