<mat-card>
  <mat-card-content>
    <div class="mat-table">
      <div class="mat-header-row">
        <div class="mat-header-cell">Name</div>
        <div class="mat-header-cell">Status</div>
        <div class="mat-header-cell">Address</div>
        <div class="mat-header-cell">Action</div>
      </div>
      <div class="mat-row" *ngFor="let cluster of clusters">
        <div class="mat-cell">{{cluster['name']}}</div>
        <div class="mat-cell">Running</div>
        <div class="mat-cell">{{cluster['cluster'].server}}</div>
        <div class="mat-cell">
          <button mat-button color="primary" (click)="connect(cluster)">Connect</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>